[package]
name = "ntcp"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
num-traits = "0.2.15"
seq = { git = "https://github.com/Banyc/seq.git" }
